/* 搜索结果点赞按钮实现 */
.rlws-like{
    position: relative;
}
.like-count{
    position: absolute;
    bottom: 0px;
    right: 0px;
    line-height: 18px;
    font-weight: 600;
    padding: 3px 5px 3px 20px;
    border: 1px solid #f2f2f2;
    border-bottom: none;
    background: url(../images/like.png) no-repeat 6px 6px;
}
.like-count:hover{
    background: url(../images/like.png) no-repeat 6px -24px;
}
