<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.rlws.plant.platform.mapper.ApplyMapper">

    <resultMap id="applyUser" type="Apply">
        <id column="id" property="id"/>
        <result column="content" property="content"/>
        <result column="time" property="time"/>
        <result column="handle" property="handle"/>
        <result column="user_id" property="user_id"/>
        <!-- 一对一对应User表 -->
        <association property="user" javaType="User">
            <id column="user_id" property="id"/>
            <result column="username" property="username"/>
        </association>
    </resultMap>

    <!-- 插入一条Apply数据 -->
    <insert id="insertOneApply" parameterType="Apply">
        insert into
            apply(content,time,user_id)
        values
            (#{content},#{time},#{user_id})
    </insert>

    <!-- 获取一条Apply数据 -->
    <select id="selectOneApply" parameterType="int" resultMap="applyUser">
        SELECT
            apply.* ,user.username
        FROM
            apply ,USER
        WHERE
            apply.user_id = user.id AND apply.id = #{id}
    </select>

    <!-- 获取所有的数据 -->
    <select id="selectAllApply" parameterType="PageVo" resultMap="applyUser">
        SELECT
            apply.* ,user.username
        FROM
            apply ,USER
        WHERE
            apply.user_id = user.id AND handle = 0
        limit
            #{page_start},#{page_size}
    </select>

    <!-- 获取所有的数据数量Count -->
    <select id="selectAllApplyCount" resultType="int">
        SELECT COUNT(*) FROM apply ,USER  WHERE apply.user_id = user.id AND handle = 0
    </select>

    <!-- 删除一条Apply数据 -->
    <delete id="deleteOneApply" parameterType="int">
        delete from apply where id = #{id}
    </delete>

    <!-- 更新一条Apply数据 -->
    <update id="updateOneApply" parameterType="Apply">
        update apply set
        content = #{content},
        time = #{time},
        handle = #{handle},
        user_id = #{user_id}
        where
        id = #{id}
    </update>
</mapper>