<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.rlws.plant.platform.mapper.ManagerMapper">

    <!-- 查询一条Manager信息 -->
    <select id="selectManagerById" parameterType="java.lang.String" resultType="Manager">
        select * from manager where email = #{email}
    </select>

</mapper>